APP_NAME=Argus
APP_VERSION=0.1.0
DEBUG=True

HOST=127.0.0.1
PORT=8000
EMBEDDING_MODEL=BAAI/bge-large-en-v1.5

RERANKER_MODEL=BAAI/bge-reranker-base

DATA_DIRECTORY=data/raw

BM25_INDEX_PATH=data/bm25/index.pkl

GEMINI_API_KEY=gemini_api_key